# Operating System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env

# Logs
*.log

# Elasticsearch
data/
logs/

# Kibana
optimize/

# IDE
.vscode/
.idea/

# Temporary Files
*.tmp
*.bak

# Telegram Credentials
telegram.env
